.loader {
    display: flex;
    place-content: center;
    align-items: center;
    height:100vh;
}

.spinner {
    border: 4px solid rgba(0,0,0,.1);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-left-color: rgba(214, 24, 205, 0.521);
    animation: spin 1s ease infinite;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-logo {
    margin-top: 2px;
}

.spinner-logo > img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}
